h1 {
    font-family: "Lucida Grande";
}

#buttons-view {
    font-family: "Lucida Grande";
    border: black 2px;
}

span {
    font-family: "Lucida Grande";

}

body {
    background-image: url("hand-holding-trophy.jpg");
}